/*	=============================================================
						GENERAL
	================================================================
 */

/*
 Color palette here!!!

 How to use:
 	bg-color: var(--color-p0);
 */

:root {
    --color-p0: #FAFAEA;
    --color-p1: #FFF897;
    --color-p2: #F6C101;
    --color-p3: #DF8D03;
    --color-p4: #C96E12;
    --color-p5: #A94E02;
    --color-p6: #604000;
}


/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;

}

/* Default font and size */
body {
    font-family: Helvetica;
    font-size: 1rem;
    overflow: hidden;
}

.width-limited {
    max-width: 75%;
    margin-top: 10px;
    /* Center horizontally: */
    margin-left: auto;
    margin-right: auto;
}

/*	=============================================================
						Navigation Bar
	================================================================
 */
/* Top navigation bar */
nav {
    width: 100%;
    height: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-p5);
}

/* Make the links in the navbar bold */
nav a {
    font-weight: bold;
}

/* Style of the list of links in the navbar */

nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;


    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/* Space between links */
nav li {
    margin-right: 3rem;
}

/* Links: apply our theme color and remove underline */
a {
    color: var(--color-p1);
    text-decoration: none;
}

a:hover {
    color: var(--color-p3);
    text-decoration: none;
}


/*	=============================================================
						INDEX / HOME
	================================================================
 */
.backgd {
    background-image: linear-gradient(var(--color-p1), var(--color-p2));
    background-repeat: repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
}


/* Justify paragraphs */
p {
    text-align: justify;
    color: var(--color-p6);
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-p5);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}


/* The box with a dark background and our site's title */
.title-row {
    width: 100%;

    /* Space above and below the title */
    padding-top: 5rem;
    padding-bottom: 5rem;


    background-color: var(--color-p5);
    /*background-image: linear-gradient(red, black);*/
    background-image: url("images/beer_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Center the title using flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
    font-size: 4.5rem;
    color: var(--color-p1);
    text-shadow: 5px 3px 2px black;
    font-variant: small-caps;
}


main ul {
    list-style-type: none;
}

/*	=============================================================
						TEAM.HTML
	================================================================
 */
.team-member {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-p4);
}

.team-member address {
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin-top: 1rem;
    margin-left: 40px;
}

/*	=============================================================
						MAP.HTML
	================================================================
 */



#map {
    width: 75.2%;
    flex-grow : 1;
    position: absolute;
    z-index: 1;
    height: 95%;
    background-color: lightcyan;
}

.info-card {
    font-size: 100%;
    font-family: Arial;
    background-image:linear-gradient(var(--color-p1), var(--color-p2)); ;
    border-left: 1px solid black;
    position:relative;
    width: 25%;
    height: 95%;
    z-index: 1;
    float: right;
}

#hovertool {
    text-align: left;
    padding: 16px;
    background-color: lightsalmon;
    border: 1px solid black;
    width: auto;
    opacity: 0;
    color: black;
    position: relative;
}

/*
 * Bottom left info data and legend
 */
.info {
    padding: 6px 8px;
    font: 20px Arial, Helvetica, sans-serif;
    color: var(--color-p6);
    background: rgba(255, 248, 151,0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h3 {
    margin: 0 0 5px;
    font-size: 20px;
    color: var(--color-p5);
}

.legend {
    line-height: 18px;
    color: var(--color-p6);
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend .min{
    position: absolute;
    left: 0;
    font-size: 22px;
    bottom: 0px;
}
.legend .max{
    position: absolute;
    right: 0;
    font-size: 22px;
    bottom: 0px;
}
.legend .med {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 22px;
    bottom: 0px;
}
.legend .gradient {
    white-space: nowrap;
    width: 300px;
}

.grad-step {
    display: inline-block;
    height: 20px;
    width: 1%;
}
.grad-val {
    display: inline-block;
    height: 10px;
    width: 200px;
}




/*
 * TODO Comment and classify
 */
.btn-group {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 2;
    display: none;
}

.myform {
    position: absolute;
    margin-left: 410px;
    margin-top: 14px;
    z-index: 2;
}
.myform-cloud {
    font-size: 100%;
    font-family: Arial;
    position: absolute;
    right: 5%;
    bottom: 28%;
    z-index: 3;
}
#title-cloud {
    font-size: 100%;
    font-family: Arial;
    position: absolute;
    bottom: 29%;
    left:5%;
    z-index: 3;
}
.myform_data {
    position: absolute;
    margin-left: 65px;
    margin-top: 14px;
    z-index: 2;
}

.search-bar {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 30%;
}

 #chart-container {
    position:absolute;
    /*height:300px;
    margin-top:500px;*/
    width: 100%;
    height:33%;
    bottom: -2%;
    left:0%;
    z-index : 2;
}

.fun-fact-emph {
    color: var(--color-p6);
    font-weight: bold;
}

#chart-container {
    position:absolute;
    /*height:300px;
    margin-top:500px;*/
    width: 100%;
    height:33%;
    bottom: -2%;
    left:0%;
    z-index : 2;
}

/*
 * button on the bottom right
 */
#closeCountry {
    text-align: center;
    position: absolute;
    left: 10px;
    top: 90px;

    z-index: 2;
}

#specific-infos {
    padding: 10px;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
